<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/match" method="post">
      <br />
      <label id="marketer_name" name="marketer_name">Name</label>
      <input type="text" id="marketer_name" name="marketer_name" />
      <br />
      <label id="description" name="description">Description</label>
      <input type="text" id="description" name="description" />
      <br />
      <label id="url" name="url">URL</label>
      <input type="text" id="url" name="url" />
      <br />
      <label id="open_to" name="open_to">Open To</label>
      <input type="text" id="open_to" name="open_to" />
      <br />
      <label id="field" name="field">Field</label>
      <input type="text" id="field" name="field" />
      <br />
      <label id="dr" name="dr">DR</label>
      <input type="text" id="dr" name="dr" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
